@using Competition.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                -->
                @{ 
                    MsgBusinessLayer msgBal = new MsgBusinessLayer();
                    string userName = msgBal.GetUserNameByID(User.Identity.Name);
                }
                <text class="navbar-brand">Welcome @userName !</text>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    <li>@Html.ActionLink("用户", "UserDetails", "Home",new { ID=User.Identity.Name })</li>
                    @if (User.Identity.Name != "")
                    {
                        <li>@Html.ActionLink("登出", "Logout", "Authentication")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("登录", "Login", "Authentication")</li>
                    }
                    <!--显示名称      方法名     控制器名-->
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="modal-footer">
        <p>Created By Ctrlkismet.  Powered by <a href="http://getbootstrap.com/2.3.2/" target="_blank">bootstrap</a>.</p>
        <p>Currect Time is : @System.DateTime.Now</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
