@model student

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "用户设置";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户设置</title>
</head>
<body>
    <p id="default_grade" hidden="hidden">@Model.Grade</p>
    <script>
        $(function () {
            $("#Grade").val(document.getElementById("default_grade").innerHTML);
        });
    </script>
    @if (Model.Gender == 1)
    {
        <script type="text/javascript">
            $(function () {
                $("#Gender1").attr("checked", true);
            });
        </script>
    }
    else
    {
        <script>
            $(function () {
                $("#Gender2").attr("checked", true);
            });
        </script>
    }
    <div class="container">
        <form action="/Home/UserSettings" method="post">
            <table class="table-condensed">
                <tr>
                    <th class="text-center">学号</th>
                    <td><input type="text" name="StudentID" value="@Model.StudentID" readonly="readonly" /></td>
                </tr>
                <tr>
                    <th class="text-center">用户名</th>
                    <td><input type="text" name="StudentName" value="@Model.StudentName" readonly="readonly" /></td>
                </tr>
                <tr id="password">
                    <th class="text-center">密码</th>
                    <td><input type="text" name="Password" value="@Model.Password" /></td>
                </tr>
                <tr>
                    <th class="text-center">班级</th>
                    <td><input type="text" name="ClassID" value="@Model.ClassID" /></td>
                </tr>
                <tr>
                    <th class="text-center">性别</th>
                    <td>
                        <label><input type="radio" name="Gender" id="Gender1" value="1" />男 </label>
                        <label><input type="radio" name="Gender" id="Gender2" value="0" />女 </label>
                    </td>
                </tr>
                <tr>
                    <th class="text-center">年级</th>
                    <td>
                        <select name="Grade" id="Grade">
                            <option value="1">大一</option>
                            <option value="2">大二</option>
                            <option value="3">大三</option>
                            <option value="4">大四</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="text-center">电话号码</th>
                    <td><input type="text" name="Phonenumber" value="@Model.Phonenumber" /></td>
                </tr>
                <tr>
                    <th class="text-center">邮箱</th>
                    <td><input type="text" name="Email" value="@Model.Email" /></td>
                </tr>
                <tr>
                    <th><input type="text" name="CertainTeam" value="@Model.CertainTeam" hidden="hidden" /></th>
                    <td><button class="btn btn-default">确认更改</button>  <p class="btn btn-default" id="modify" >修改密码</p></td>
                </tr>
            </table>
        </form>
    </div>
    <script>
            $(function () {
                $("#password").hide();
                $("#modify").click(function () {
                    $("#password").slideDown("slow");
                });
            });
    </script>
</body>
</html>
