@using Competition.ViewModels
@model student

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "用户";
    MsgBusinessLayer msgBal = new MsgBusinessLayer();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户设置</title>
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-4">
            <table class="table table-striped table-condensed table-bordered fiexd">
                <tr>
                    <th style="width: 5em;">学号</th>
                    <td>@Model.StudentID</td>
                </tr>
                <tr>
                    <th style="width: 5em;">用户名</th>
                    <td>@Model.StudentName</td>
                </tr>
                <tr>
                    <th style="width: 5em;">班级</th>
                    <td>@Model.ClassID</td>
                </tr>
                @{
                    string grade = "unknown";
                    switch (Model.Grade)
                    {
                        case 1: grade = "大一"; break;
                        case 2: grade = "大二"; break;
                        case 3: grade = "大三"; break;
                        case 4: grade = "大四"; break;
                    }

                    string gender = "unkown";
                    gender = Model.Gender == 1 ? "男" : "女";
                }
                <tr>
                    <th style="width: 5em;">年级</th>
                    <td>@grade</td>
                </tr>
                <tr>
                    <th style="width: 5em;">性别</th>
                    <td>@gender</td>
                </tr>
                <tr>
                    <th style="width: 5em;">邮箱</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th style="width: 5em;">手机号</th>
                    <td>@Model.Phonenumber</td>
                </tr>
                <tr>
                    <th style="width: 5em;">设置</th>
                    <td>
                        @{
                            bool flag = false;
                            if (User.Identity.Name == Model.StudentID)
                            {
                                flag = true;
                            }
                            else if(User.Identity.Name!="")
                            {
                                student s = msgBal.GetStudentByID(User.Identity.Name);
                                flag = (s.HasPermission > Model.HasPermission) ? true : false;
                            }
                        }
                        @if (flag)
                        {
                            <a href="/Home/UserSettings?ID=@Model.StudentID"><span class="glyphicon glyphicon-cog"></span></a>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-cog"></span>
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <table class="table table-striped table-condensed table-bordered table-hover fiexd">
                <caption>已经报名的比赛：</caption>
                <thead>
                    <tr>
                        <th style="width: 5em;">比赛名称</th>
                        <th style="width: 5em;">开始时间</th>
                        <th style="width: 5em;">队伍成员</th>
                        <th style="width: 5em;">队伍管理</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<competition> Competitions = new List<competition>();
                        List<team> teams = new List<team>();
                        //姓名
                        List<string> teamMember = new List<string>();
                        //学号
                        List<string> teamLeader = new List<string>();

                        List<string> teamIDs = msgBal.GetMessage(Model.CertainTeam);

                        foreach (string id in teamIDs)
                        {
                            int ID = Convert.ToInt32(id);
                            team t = msgBal.GetTeamByID(ID);
                            teams.Add(t);
                            Competitions.Add(msgBal.GetCompetitionByID(t.CID));

                            List<string> teamMemberID = msgBal.GetMessage(t.Member);

                            string temp = null;
                            //得到当前队伍的人员信息
                            foreach (string id1 in teamMemberID)
                            {
                                if (temp != null)
                                {
                                    temp += "、";
                                }
                                else
                                {
                                    teamLeader.Add(id1);
                                }
                                temp += msgBal.GetUserNameByID(id1);
                            }
                            teamMember.Add(temp);
                        }
                    }
                    @foreach (team t in teams)
                    {
                        int i = teams.IndexOf(t);
                        <tr>
                            <td><a href="/Home/ViewCompetition?ID=@Competitions[i].CompetitionID">@Competitions[i].CompetitionName</a></td>
                            <td>@Competitions[i].StartTime.ToString("D")</td>
                            <td>@teamMember[i]</td>
                            @if (Model.StudentID == User.Identity.Name && teamLeader[i] == User.Identity.Name)
                            {
                                <td><a href="/Manage/DeleteTeam?ID=@teams[i].ID" onclick="return delete_confirm();"><span class="glyphicon glyphicon-trash"></span>  删除队伍</a></td>
                            }
                            else
                            {
                                <td><span class="glyphicon glyphicon-trash"></span>  删除队伍</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
