@model competition
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = Model.CompetitionName;

    string group = "";
    if (Model.Groups >= 1000)
    {
        group += "大一";
    }
    if (Model.Groups % 1000 >= 200)
    {
        if (group != "")
        {
            group += "、";
        }
        group += "大二";
    }
    if (Model.Groups % 100 >= 30)
    {
        if (group != "")
        {
            group += "、";
        }
        group += "大三";
    }
    if (Model.Groups % 10 >= 4)
    {
        if (group != "")
        {
            group += "、";
        }
        group += "大四";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.CompetitionName</title>
</head>
<body>
    <div class="page">
        <div style="margin-left:20px;">
            <h2>@Model.CompetitionName</h2>
            <h3>
                @Model.Details
            </h3>
            <div>每支队伍限人数 @Model.TeamLimit 人及以下。</div>
            <div>仅限 @group 的同学参加。</div>
            <div>
                比赛开始时间 : @Model.StartTime
            </div>
            <div>
                报名截止时间 : @Model.EndTime
            </div>
            <div>
                <a href="/Manage/Register?ID=@Model.CompetitionID">报名</a> |
                <a href="/Manage/ViewTeams?ID=@Model.CompetitionID">查看队伍</a>
            </div>
            <br />
        </div>
    </div>
</body>
</html>
