@model competition
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = Model.CompetitionName;

    string group = "";
    if (Model.Groups >= 1000)
    {
        group += "大一";
    }
    if (Model.Groups % 1000 >= 200)
    {
        if (group != "")
        {
            group += "、";
        }
        group += "大二";
    }
    if (Model.Groups % 100 >= 30)
    {
        if (group != "")
        {
            group += "、";
        }
        group += "大三";
    }
    if (Model.Groups % 10 >= 4)
    {
        if (group != "")
        {
            group += "、";
        }
        group += "大四";
    }
}

    <div class="page">
        <div>
            <h2>@Model.CompetitionName</h2>
            <div class="match-detail">
                @Html.Raw(Model.Details)
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">注意事项</h3>
                </div>
                <div class="panel-body">
                    <p>每支队伍限人数 @Model.TeamLimit 人及以下。</p>
                    <p>限 @group 的同学参加。</p>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>报名截止时间</td>
                            <td>@Model.EndTime.ToString("d")</td>
                        </tr>
                        <tr>
                            <td>比赛开始时间</td>
                            <td>@Model.StartTime.ToString("d")</td>
                        </tr>
                        <tr>
                            <td>比赛结束时间</td>
                            <td>@Model.DeleteTime.ToString("d")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <button class="btn btn-primary" type="button" onclick="location.href='/Manage/Register?ID=@Model.CompetitionID'">报名</button>
                <button class="btn  btn-default" type="button" onclick="location.href='/Manage/ViewTeams?ID=@Model.CompetitionID'">查看队伍</button>
                <!--<a href="/Manage/ViewTeams?ID=@Model.CompetitionID">下载附件</a>-->
            </div>
        </div>
    </div>

